<%= link_to "logout", logout_path %>
<h2>List of Recipes</h2>

<%= link_to "Create New Recipe", new_recipe_path %>

<% @recipes.each do |recipe| %>
    <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
    <p>Created by: display the user created the recipe</p>
<% end %>
